h2 {
    text-align: center;
    color: white;
    background-color: #2e95ef;
}

table {
    margin-left: 20px;
}
td{
    font-size: 25px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.p-button {
    background-color: #67ace8;
}
th{

    color:#0e5ea2;
}