// .header
// {
//     text-align: center;
//     color: rgb(241, 234, 234);
//     background-color:rgb(39, 39, 189);
//     font-size: 30px;
//     margin-top:0;
//     height: 85px;
  
// }
// h1{
//     margin-top: 0%;
    
// }
.toolbar {
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #0e5ea2;
    color: white;
    font-weight: 600;
  }
  .vv
  {
    text-align: center;
   margin-left: 36%;
  }
  