.laz
{
    text-align: center;
    color: rgb(211, 171, 171);
    font-size: 50px;
    
    // background-repeat: no-repeat;
}

.mylazy
{
    background-image: url('https://images.unsplash.com/photo-1621640786029-220e9ff8dd09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dW5pdmVyc2l0eSUyMGJ1aWxkaW5nfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
}