<h3> View Student  Details</h3>
<div>
    <div>
        <label> <b> First Name : </b></label> {{ univer.firstname}}
    </div>
    <div>
        <label> <b> Last Name : </b></label> {{univer.lastname}}
    </div>
    <div>
        <label> <b> Email Id : </b></label> {{ univer.email}}
    </div>


    <div>
        <label> <b> Phone Number : </b></label> {{ univer.phone}}
    </div>

    <div>
        <label> <b>  Address : </b></label> {{ univer.address}}
    </div>

    <div>
        <label> <b> Gender : </b></label> {{univer.gender}}
    </div>
    <div>
        <label> <b> Date of Birth : </b></label> {{univer.dob }}
    </div>

    <div>
        <label> <b> college : </b></label> {{univer.college}}
    </div>
</div>
<!-- <div  class="button">
    <button type="button" pButton pRipple (click)="showSuccess()" label="Back"></button>
    -->